<!DOCTYPE html>
<html lang="de">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/_assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/_assets/font/bootstrap-icons.min.css" />

    <!-- Favicons -->
    <link rel="icon" href="/_assets/favicons/favicon.ico" />
    <link rel="icon" href="/_assets/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" href="/_assets/favicons/favicon-32x32.png" sizes="32x32" />
    <link
      rel="icon"
      href="/_assets/favicons/favicon-180x180.png"
      sizes="180x180"
    />
    <link
      rel="icon"
      href="/_assets/favicons/favicon-192x192.png"
      sizes="192x192"
    />
    <link
      rel="icon"
      href="/_assets/favicons/favicon-512x512.png"
      sizes="512x512"
    />

    <style>
      .list-group-item {
        border: none;
      }
      .list-group-item a {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
      }
    </style>

    <!-- Scripts -->
    <script lang="javascript">
      function fetchResult() {
        fetch('/{{.Query}}')
        .then(response => response.text())
        .then(data => {
          updateResult(data);
        })
        .catch(error => console.error('Error fetching data:', error));
      }

      function updateResult(result) {
        document.getElementById('result').innerHTML = result;
      }

      document.addEventListener("keydown", function(event) {
        if (event.key === "r") {
          fetchResult();
        }
      });
    </script>

    <title>{{.Query}}</title>
  </head>

  <body>
    <main id="content" role="main">
      <div class="container">
        <div class="text-center text-wrap text-break">
          <h2 class="m-5" id="result">{{.Result}}</h2>
          <button
            type="button"
            title="Reload page"
            class="btn btn-primary btn-lg"
            onclick="fetchResult()"
          >
            <i class="bi-arrow-clockwise"></i>
          </button>
          <button
            type="button"
            title="Copy Markdown to clipboard"
            class="btn btn-primary btn-lg"
            onClick="navigator.clipboard.writeText('*' + document.getElementById('result').innerHTML + '*');"
          >
            <i class="bi-clipboard"></i>
          </button>

          <hr />

          <h3><i class="bi bi-clock-history"></i></h3>

          <ul class="list-group list-group-flush">
            <!-- List item 1 with button -->
            <li class="list-group-item list-group-item-action">
              Item with short text
              <a href="#"><i class="bi-clipboard"></i></a>
            </li>

            <!-- List item 2 with button -->
            <li class="list-group-item list-group-item-action">
              A bit longer item text
              <a href="#"><i class="bi-clipboard"></i></a>
            </li>

            <!-- List item 3 with button -->
            <li class="list-group-item list-group-item-action">
              Very long item text that needs to be centered properly
              <a href="#"><i class="bi-clipboard"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
