name: Docker

on:
  workflow_run:
    workflows: [Go]
    types:
      - completed
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Build and push Docker images to Docker Hub
        uses: docker/build-push-action@v6
        with:
          pull: true
          push: true
          tags: martinplaner/mp:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
